<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Document</title>
</head>
<body>
  <h1>Instruments!</h1>
  <ul>
    <% instruments.forEach(instrument => { %>
      <li>
    <%= instrument.text %> 
    - 
    <%= instrument.loud ? 'loud' : 'not so loud' %>
    - 
    <%= instrument.easytocarry ? 'easy to carry' : 'heavy as hell' %>
      </li>
    <% }) %>
  </ul>

</body> 
</html>